
/* .container .card {
    border-radius: 16px;
}

.card img{
    position: relative;
    height: 294px;
    border-radius: 16px 16px 0px 0px;
}

.card .card-body h5{
    position: absolute;
    bottom: 400px;
    left: 20px;
    width: 50%;
    color: white;
}

.card .card-body .card-style {
    font-weight: bold;
}

.navbar .container .btn{
    background: #9EB23B; 
    color:white; 
    height: 34px; 
    width: 150px; 
    border-radius: 48px;
} */